schema/camerapreset.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:suj="http://tie.digitraffic.fi/sujuvuus/schemas"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CameraPresets"
  targetNamespace="http://tie.digitraffic.fi/sujuvuus/schemas">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tie.digitraffic.fi/sujuvuus/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:suj="http://tie.digitraffic.fi/sujuvuus/schemas">
      <xsd:element name="CameraPresets">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="CameraPresetsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="timestamp" type="suj:ObstimeType" />
            <xsd:element name="baseurl" type="xsd:anyURI" />
            <xsd:element name="camerapresetsdata">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="camerapreset"
                    type="suj:CameraPresetsType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CameraPresetsType">
        <xsd:sequence>
          <xsd:element name="cameraid" type="suj:CameraIdType" />
          <xsd:element name="presetid" type="suj:PresetIdType" />
          <xsd:element name="roadstationid" type="xsd:string"/>
          <xsd:element name="public" type="xsd:boolean" />
          <xsd:element name="internallypublic" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="presetname1" type="xsd:string" />
          <xsd:element name="presetname2" type="xsd:string" nillable="true"/>
          <xsd:element name="nearestroadstationid" type="suj:RoadStationIdType"  minOccurs="0"/>
          <xsd:element name="piclastmodified" type="suj:ObstimeType" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CameraIdType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="PresetIdType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="RoadStationIdType">
        <xsd:restriction base="xsd:nonNegativeInteger" />
      </xsd:simpleType>
      <xsd:complexType name="ObstimeType">
        <xsd:sequence>
          <xsd:element name="utc" type="xsd:dateTime" />
          <xsd:element name="localtime" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CameraPresetsRequest">
    <wsdl:part element="suj:CameraPresets" name="CameraPresets" />
  </wsdl:message>
  <wsdl:message name="CameraPresetsResponse">
    <wsdl:part element="suj:CameraPresetsResponse"
      name="CameraPresetsReponse" />
  </wsdl:message>
  <wsdl:portType name="CameraPresetsPort">
    <wsdl:operation name="CameraPresets">
      <wsdl:input message="suj:CameraPresetsRequest" />
      <wsdl:output message="suj:CameraPresetsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CameraPresetsBinding" type="suj:CameraPresetsPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CameraPresets">
      <soap:operation
        soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraPresetsService">
    <wsdl:port binding="suj:CameraPresetsBinding"
      name="CameraPresetsPort">
      <soap:address location="http://localhost:8180/services/camerapreset" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
